# Ignore virtual environment
venv310/

# Ignore pickle files
*.pkl

# Common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.ipynb_checkpoints/


# Environment files
.env
.env.*

data/
datasets/

# Model files
*.h5
*.pt
*.pth
*.onnx

# Logs
logs/
*.log

# Outputs
outputs/
runs/

# Temporary files
.DS_Store
Thumbs.db
